.jumbotron{
	height: 500px;
	width: 100%;

}
.jumbotron-quote{
	width: 50%;
	margin: auto;
	display: block;
}
.jumbotron-heading{
	font-family: 'Patrick Hand SC', cursive;
}
.jumbotron-subheading{
	margin-top: 20px;
}
.btnJumbotron{
	margin-top: 20px;
}
img{
		width: 100%;
}
.main-name{
	margin-top: 30px;
	margin-bottom: 20px;
}
.main-font{
	font-family: 'Hammersmith One', sans-serif;
}
.bio-description{
	margin-top: 30px;
}
.bio-description thead tr{
	font-size: large;
}
.navbar{
	position: fixed;
	bottom:0;
	z-index: 1;

}
#nav-mobile{
	display: inline-block;
}
.album-header{
	padding-top: 20px;
}
.buy{
	color: grey;
}

.rdoContact{
	display: inline;
}
.rdoButton{
	margin-left: 9%;
}
.input-field input[type=text]:focus + label {
     color: black;
}
.input-field input[type=text]:focus {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
}
 .input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
}

[type="radio"]:checked + label:after {
border-color: #5a5a5a;
background-color: black;
z-index: 0;
}
#container-body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background-image: url('../img/contact.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;


}
#contact-container{
	background-color: white;
	content: center;
	padding: 2em 4em 3em 4em;
	width: 500px;

}
.contact-content{
	content: center;
}
.btnSubmit{
	width: 90%;

}